.container
  .row
    =render "shared/left_column"
    .col-lg-9
      .profession
        Ветеринарный врач
      .profession_block
        .duty_top
          Обязанности:

      .duty
        Консультирование и обслуживание покупателей по вопросам ухода за животными (корма, гигиена, профилактические мероприятия, вет. препараты);
      .duty
        Демонстрация товара;
      .duty
        Оказание помощи в выборе товара;
      .duty
        Работа на кассе;
      .duty
        Прием товара.

      .duty_top
        Требования:
      .duty
        Наличие высшего ветеринарного образования;
      .duty
        Опыт работы в продажах или сфере услуг;
      .duty
        Уверенный пользователь ПК;
      .duty
        Коммуникабельность, ответственность, внимательность.
      .duty_top
        Условия:

      .duty
        Официальное оформление согласно ТК РФ;
      .duty
        График работы: сменный 2/2 с 9:00-22:00;
      .duty
        Дружный коллектив.

      .profession
        Менеджер по работе с ключевыми клиентами
      .profession_block
      .duty_top
        Обязанности:

      .duty
        Планирование, управление и развитие продаж;
      .duty
        Работа с имеющейся клиентской базой;
      .duty
        Ежемесячное выполнение плана по объему продаж;
      .duty
        Расширение ассортиментной матрицы в электронном каталоге товаров;
      .duty
        Выставление счетов, работа с первичной документацией;
      .duty
        Мониторинг цен конкурентов.

      .duty_top
        Требования:

      .duty
        Опыт личных продаж;
      .duty
        Опыт ведения переговоров;
      .duty
        Работа с дебиторской задолженностью;
      .duty
        Умение работать с большим ассортиментом товара;
      .duty
        Умение работать с возражениями.

      .duty_top
        Условия:

      .duty
        Работа в стабильной и развивающейся компании:
      .duty
        Возможность профессионального, карьерного развития;
      .duty
        График работы 5/2 пн-пт с 09.00-18.00;
      .duty
        Современный комфортабельный офис
      .duty
        Корпоративные праздники, ежемесячные конкурсы для сотрудников;
      .duty
        Полный рабочий день;
      .duty
        Заработная плата обсуждается на собеседовании с руководителем.


      .profession
        Продавец-консультант
      .profession_block
      .duty_top
        Обязанности:
      .duty
        консультирование покупателей по ассортименту;
      .duty
        помощь в выборе товара;
      .duty
        выкладка товара;
      .duty
        поддержание порядка в торговом зале.

      .duty_top
        Требования:
      .duty
        гражданство РФ, РБ, Казахстан;
      .duty
        опыт работы не требуется;
      .duty
        грамотная речь;
      .duty
        опрятный внешний вид.

      .duty_top
        Условия:
      .duty
        Официальное оформление согласно ТК РФ;
      .duty
        График работы: сменный 2/2 с 9:00-22:00;
      .duty
        Дружный коллектив.
